# Server port
PORT=3000

# Application stage (e.g., dev, prod)
STAGE=dev

# PostgreSQL
PG_USER=admin
PG_PASSWORD=Abcd@1234
PG_DB=rest
PG_HOST=localhost

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=Abcd@1234

# Session secret
SESSION_SECRET=This is a session secret
SESSION_COOKIE_NAME=x_secret_cookie_name
SESSION_COOKIE_MAX_AGE=604800 # 7 days in seconds

# JWT
JWT_SECRET=This is a jwt secret
JWT_EXPIRY=4h

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=admin
REDIS_DB=0
